{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>  
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-responsive.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}PhenoDB{% endblock %}</title>
  {% block script %}
  {% endblock %}
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/search">PhenoDB</a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <div id="sidebar">
          <ul class="nav nav-list">
            <li class="nav-header">Menu</li>
            <li><a href="/search"><i class="icon-home"></i>Home</a></li>
            <li><a href="/search/querybuilder"><i class="icon-search"></i>Query Builder</a></li>            
            <li><a href="/admin"><i class="icon-user"></i>Administration</a></li>
            <li class="nav-header">Data views</li>
            <li><a href="/search/individuals">Individuals</a></li>
            <li><a href="/search/sources">Sources</a></li>
            <li><a href="/search/phenotypes">Phenotypes</a></li>
            <li><a href="/search/collections">Collections</a></li>
            <li><a href="/search/samples">Samples</a></li>            
            <li><a href="/search/studies">Studies</a></li>
            <li><a href="/search/platforms">Platforms</a></li>
            <li><a href="/search/qcs">QCs</a></li>
            <li><a href="/search/missing">Missing Samples</a></li>
          </ul> 
        </div>
      </div>
      <div class="span9">
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="span1">
      </div>
    </div>
  </div>
</body>
</html>