<table>
    <tr>
        <th>ID</th>
        <th>Source</th>
        <th>Sex</th>        
    </tr>
    {% for ind in query_results %}
    <tr> 
        <td>{{ ind.ind.individual_string }}</td>
        <td>{{ ind.ind.source.source_name }}</td>
        <td>{{ ind.ind.individual.sex }}</td>
                
        {% for sample in ind.samples %}
    		<td>{{ sample.sample_id }}</td>    	
    	{% endfor %}    
    	
    	{% for aff in ind.aff %}
    		<td>{{ aff.phenotype.phenotype_name }}</td>    	
    	{% endfor %}
    	
    	{% for qual in ind.qual %}
    		<td>{{ qual.phenotype.phenotype_name }}</td>    	
    	{% endfor %}
    	
    	{% for quant in ind.quant %}
    		<td>{{ quant.phenotype.phenotype_name }}</td>    	
    	{% endfor %}
    	        
    </tr>
    {% endfor %}
</table>