{% extends "search/base.html" %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {

		$('#btnAdd').click(function() {
			var num = $('.clonedInput').length;
			// how many "duplicatable" input fields we currently have
			var newNum = new Number(num + 1);
			// the numeric ID of the new input field being added

			// create the new element via clone(), and manipulate it's ID using newNum value
			var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);

			newElem.find(':input').attr('id', function(i, val) {
				return val + newNum;
			});

			// insert the new element after the last "duplicatable" input field
			$('#input' + num).after(newElem);

			// enable the "remove" button
			$('#btnDel').removeAttr("disabled");

			$("[id^=from]").change(function() {
				var idstr = $(this).attr("id")
				var idarray = idstr.split("_")
				var idnum = idarray[1]

				if ($(this).val() == 'message') {
					$("#where_" + idnum).attr('value', '');
					$("#where_" + idnum).attr('disabled', true);
					$("#is_" + idnum).prop('value', '');
					$("#is_" + idnum).attr('disabled', true);
					$("#querystr_" + idnum).prop('value', '');
					$("#querystr_" + idnum).prop('disabled', true);
				} else {
					if ($("#from_" + idnum).val() == 'source' | $("#from_" + idnum).val() == 'study' | $("#from_" + idnum).val() == 'platform') {
						$("#is_" + idnum).prop('value', '');
						$("#is_" + idnum).attr('disabled', true);
						$("#querystr_" + idnum).prop('value', '');
						$("#querystr_" + idnum).prop('disabled', true);
					}

					$("#where_" + idnum).attr('disabled', false);
					var url = "/search/querybuilder/" + $(this).val() + "/all_json_models";
					var from = $(this).val();
					$.getJSON(url, function(where) {
						var options = '<option value="message">Select a filter</option>';
						for (var i = 0; i < where.length; i++) {
							options += '<option value="' + where[i].pk + '">' + where[i].fields[from + "_name"] + '</option>';
						}
						$("#where_" + idnum).html(options);
					});
				}
			});

			// change the search options based on the type of filter
			$("[id^=where]").change(function() {
				// get the id number of the menu that changed so that we change the correct search filter
				var idstr = $(this).attr("id")
				var idarray = idstr.split("_")
				var idnum = idarray[1]
	
				if ($(this).val() == 'message') {
					$("#is_" + idnum).attr('disabled', true);
				} else {
					$("#is_" + idnum).attr('disabled', false);
					var url = "/search/querybuilder/" + $("#from_" + idnum).val() + "/" + $(this).val() + "/all_search_options";
					$.getJSON(url, function(data) {
						var options = '<option value="message">Select a filter</option>';
						for (var i = 0; i < data.length; i++) {
							options += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
						}
						$("#is_" + idnum).html(options);
						// if data contains just 4 entries then it is an affection status so does not need a text entry field
						if (data.length > 4) {
							$("#querystr_" + idnum).prop('disabled', false);
						} else {
							$("#querystr_" + idnum).prop('value', '');
							$("#querystr_" + idnum).prop('disabled', true);
						}
					});
				}
			});
			
			// turn the query string box off is a null query is selected
			$("[id^=is]").change(function() {
				// get the id number of the menu that changed so that we change the correct search filter
				var idstr = $(this).attr("id")
				var idarray = idstr.split("_")
				var idnum = idarray[1]

				if ($(this).val() == 'notnull' | $(this).val() == 'isnull') {
					$("#querystr_" + idnum).prop('value', '');
					$("#querystr_" + idnum).prop('disabled', true);
				} else {
					$("#querystr_" + idnum).prop('disabled', false);
				}
			});
		});

		$('#btnDel').click(function() {
			var num = $('.clonedInput').length;
			// how many "duplicatable" input fields we currently have
			$('#input' + num).remove();
			// remove the last element

			// enable the "add" button
			$('#btnAdd').removeAttr("disabled");

			// if only one element remains, disable the "remove" button
			if (num - 1 == 1)
				$('#btnDel').attr('disabled', 'disabled');
		});

		$("[id^=from]").change(function() {
			var idstr = $(this).attr("id")
			var idarray = idstr.split("_")
			var idnum = idarray[1]

			if ($(this).val() == 'message') {
				$("#where_" + idnum).attr('value', '');
				$("#where_" + idnum).attr('disabled', true);
				$("#is_" + idnum).prop('value', '');
				$("#is_" + idnum).attr('disabled', true);
				$("#querystr_" + idnum).prop('value', '');
				$("#querystr_" + idnum).prop('disabled', true);
			} else {
				$("#where_" + idnum).attr('disabled', false);
				var url = "/search/querybuilder/" + $(this).val() + "/all_json_models";
				var from = $(this).val();
				if ($("#from_" + idnum).val() == 'source' | $("#from_" + idnum).val() == 'study' | $("#from_" + idnum).val() == 'platform') {
					$("#is_" + idnum).prop('value', '');
					$("#is_" + idnum).attr('disabled', true);
					$("#querystr_" + idnum).prop('value', '');
					$("#querystr_" + idnum).prop('disabled', true);
				}
				$.getJSON(url, function(where) {
					var options = '<option value="message">Select a filter</option>';
					for (var i = 0; i < where.length; i++) {
						options += '<option value="' + where[i].pk + '">' + where[i].fields[from + "_name"] + '</option>';
					}
					$("#where_" + idnum).html(options);
				});
			}
		});

		// change the search options based on the type of filter
		$("[id^=where]").change(function() {
			// get the id number of the menu that changed so that we change the correct search filter
			var idstr = $(this).attr("id")
			var idarray = idstr.split("_")
			var idnum = idarray[1]

			if ($(this).val() == 'message') {
				$("#is_" + idnum).attr('disabled', true);
			} else {
				$("#is_" + idnum).attr('disabled', false);
				var url = "/search/querybuilder/" + $("#from_" + idnum).val() + "/" + $(this).val() + "/all_search_options";
				$.getJSON(url, function(data) {
					var options = '<option value="message">Select a filter</option>';
					for (var i = 0; i < data.length; i++) {
						options += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
					}
					$("#is_" + idnum).html(options);
					// if data contains just 4 entries then it is an affection status so does not need a text entry field
					if (data.length > 4) {
						$("#querystr_" + idnum).prop('disabled', false);
					} else {
						$("#querystr_" + idnum).prop('value', '');
						$("#querystr_" + idnum).prop('disabled', true);
					}
				});
			}
		});
		
		// turn the query string box off if a boolean query is selected
		$("[id^=is]").change(function() {
			// get the id number of the menu that changed so that we change the correct search filter
			var idstr = $(this).attr("id")
			var idarray = idstr.split("_")
			var idnum = idarray[1]

			if ($(this).val() == 'notnull' | $(this).val() == 'isnull') {
				$("#querystr_" + idnum).prop('value', '');
				$("#querystr_" + idnum).prop('disabled', true);
			} else {
				$("#querystr_" + idnum).prop('disabled', false);
			}
		});
		
		// active the file select button and text area if the user select to input their own ids
		$('input[name=searchIn]').change(function() {
			if (this.value == "userlist") {
				$('#individual_list, #individual_file').prop('disabled', false);
			} else {
				$('#individual_list, #individual_file').prop('disabled', true);
			}
		});

		$('#btnDel').attr('disabled', 'disabled');
		$('#btnDelOut').attr('disabled', 'disabled');
	}); 
</script>
{% endblock %}

{% block content %}

{% if message %}
<p class="text-error">
	{{message}}
</p>
{% endif %}

<p class="lead" style="margin-top: 10px;margin-bottom: 10px">
	Build a query:
</p>

<form class="form-inline" action="" method="post" enctype="multipart/form-data">

	{% csrf_token %}

	<div class="row" style="margin-top: 10px;margin-bottom: 10px">
		<div class="span9">
			<div id="input1" class="clonedInput" style="margin-top: 10px;margin-bottom: 10px">
				<select name="from" id="from_12">
					<option value="message">Select a filter type</option>
					<option value="phenotype">Phenotype</option>
					<option value="source">External source</option>
					<option value="study">Study</option>
					<option value="platform">Platform</option>
				</select>
				<select name="where" id="where_12"></select>
				<select name="is" id="is_12"></select>
				<input type="text" name="querystr" id="querystr_12" />
				<select name="andor" id="andor_12">
					<option value="and">AND</option>
					<option value="or">OR</option>
				</select>
			</div>
		</div>
	</div>

	<div class = row style="margin-top: 10px;margin-bottom: 10px">
		<div class="span9">
			<input type="button" id="btnAdd" value="add another filter" class="btn btn-default btn-success" />
			<input type="button" id="btnDel" value="remove filter" class="btn btn-default btn-danger"/>
		</div>
	</div>

	<p class="lead" style="margin-top: 30px;margin-bottom: 10px">
		Select output columns:
	</p>
	<div class="row" style="margin-top: 10px;margin-bottom: 10px">
		<div class="span6">
			<div class="accordion" id="accordion1">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" href="#"> Individual details </a>
					</div>
					<div id="collapseOne" class="accordion-body collapse in">
						<div class="accordion-inner">
							<label class="checkbox inline">
								<input type="checkbox" name="output" value="PhenodbID" checked>
								PhenoDB ID</label>
							<label class="checkbox inline">
								<input type="checkbox" name="output" value="IndividualID">
								Individual ID(s)</label>
							<label class="checkbox inline">
								<input type="checkbox" name="output" value="Source">
								Source</label>
						</div>
					</div>
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#"> Sample details </a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse out">
						<div class="accordion-inner">
							<label class="checkbox inline">
								<input type="checkbox" name="output" value="SampleIDs">
								Sample IDs</label>
							<label class="checkbox inline">
								<input type="checkbox" name="output" value="Studies">
								Studies</label>
							<label class="checkbox inline">
								<input type="checkbox" name="output" value="Platforms">
								Platforms</label>
							<label class="checkbox inline">
								<input type="checkbox" name="output" value="QCs">
								Sample QCs</label>
						</div>
					</div>
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseThree" href="#"> Phenotype values </a>
					</div>
					<div id="collapseThree" class="accordion-body collapse out">
						<div class="accordion-inner">
							{% for phenotype in phenotypes %}
							<label class="checkbox">
								<input type="checkbox" name="output" value="phenotype:{{phenotype.id}}">
								{{phenotype.phenotype_name}}</label>
							<br/>
							{% endfor %}
						</div>
					</div>
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseFour" href="#"> Study IDs </a>
					</div>
					<div id="collapseFour" class="accordion-body collapse out">
						<div class="accordion-inner">
							{% for study in studies %}
							<label class="checkbox">
								<input type="checkbox" name="output" value="study:{{study.id}}">
								{{study.study_name}}</label>
							<br/>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p class="lead" style="margin-top: 30px;margin-bottom: 10px">
		Search in:
	</p>
	<div class="row" style="margin-top: 10px;margin-bottom: 10px">
		<div class="span9">
			<label class="radio">
				<input type="radio" name="searchIn" id="optionsRadios1" value="all" checked>
				All records</label>
			<!-- <label class="radio"><input type="radio" name="searchIn" id="optionsRadios2" value="cases" disabled>Cases</label> -->
			<!-- <label class="radio"><input type="radio" name="searchIn" id="optionsRadios3" value="control" disabled>Controls</label> -->
			<label class="radio">
				<input type="radio" name="searchIn" id="optionsRadios4" value="userlist">
				User defined list</label>
		</div>
	</div>

	<div class="row" style="margin-top: 10px;margin-bottom: 10px">
		<div class="span9">
			<textarea rows="3" name="individual_list" id="individual_list" disabled></textarea>
		</div>
	</div>

	<div class="row" style="margin-top: 10px;margin-bottom: 10px">
		<div class="span9">
			<input type="file" name="individual_file" id="individual_file" disabled>
		</div>
	</div>

	<div class = row style="margin-top: 30px;margin-bottom: 10px">
		<div class="span9">
			<input type="submit" value="Search" class="btn btn-large btn-primary"/>
		</div>
	</div>

</form>
{% endblock %}
